/* GENERAL FONTS */
body {
  background-color: #b4a9a9; 
  margin: 0;
}

/* CENTER PAGE WRAPPER */
.center-page {
  min-height: 100vh;
  padding: 40px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px; 
  text-align: center;
}

/* MAIN BUTTON */
.btn-main {
  background-color: #111;
  color: white;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-main:hover {
  background-color: #333;
}

/* GRID BUTTONS */
button {
  transition: 0.25s;
}